@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */
.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.cursor-pointer{
    cursor: pointer;
}

.font-bold{
    font-weight: bold;
}

body{
    font-family: 'Epilogue', sans-serif;
    line-height: 1.3;
    background-color: hsla(0, 0%, 41%, .1);
}

header{
    margin-bottom: 1em;
}

nav{
    width: 100%;
    padding: 1.2rem 1rem ;
}

.logo-menu-group{
    width: 50%;
}

.logo{
    padding-top: 10px;
    width: 100%;
}

.logo img{
    width: 50%;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

a:hover,
li:hover,
button:hover{
    color: black;
    font-weight: bold;
}

/* menu icon */
.hamburger{
    width: 25px;
}

.menu{
    display: none;
}

/* menu when active  */
.active.menu{
    display: block;
    background-color: hsla(0, 0%, 8%, .7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transition: all 0.3s ease 0.5s;
}

ul{
    background-color: white;
    width: 70%;
    height: 100vh;
    margin-left: auto;
    padding: 1em;
}

#close-btn{
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease;
}

#close-btn:hover,
#close-btn:focus{
    background-color: hsl(0, 0%, 41%);
    padding: 10px;
}

li{
    list-style: none;
    color: hsl(0, 0%, 41%);
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.drop--down--info{
    display: none;
    margin:1.2em 0 0 1em;
}

.active.accordion .drop--down--info{
    display: block ;
}

#arrow--up{
    display: none;
}

.active.accordion img#arrow--up  {
    display: inline-block ;
}

.active.accordion img#arrow--down {
    display: none ;
}

li,
a.item{
    padding-block: 8px;
}

a.item{
    display: block;
}

img{
    max-width: 100%;
}

/* login--register link */
.form{
    display: none;
}

button{
    border: none;
    background-color: transparent;
    padding: .7em 1.5em;
    font-size: 18px;
}

/* register button */
button#register{
    border: 2px solid hsl(0, 0%, 8%);
    border-radius: 10px;
}

/* --------------------------------------------------------- */
/* hero section */

.hero--description{
    width: 90%;
    margin: 1.5em auto;
    text-align: center;
}

h1{
    font-size: 2.7em;
    padding-bottom: .3em;
    color: hsl(0, 0%, 8%);
}

p{
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
}

/* learn more button */
.learn--more{
    background-color: hsl(0, 0%, 8%);
    box-shadow: 2px 2px 20px 8px hsl(0, 0%, 41%, .3);
    border-radius: 10px;
    color: hsl(0, 0%, 98%);
    margin: 2em 0 1em;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.learn--more:hover{
    background-color: transparent;
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
}

.client--section{
    width: 90%;
    margin-inline: auto;
}

.client--section img{
    width: 50%;
    padding: 10px;
}

.attribution { 
    font-size: 16px; 
    text-align: center; 
    margin-block: 2em;
}

.attribution a { 
    color: hsl(0, 0%, 8%); 
    font-weight: bold;
}

@media (min-width: 900px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-inline: auto;
    }

    .logo-menu-group{
        width: 70%;
    }

    .menu{
        display: inline-block;
    }

    ul{
        background-color: transparent;
		height: unset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 130%;
    }

    #close-btn{
        display: none;
    }

    .active.accordion{
        position: relative;
    }

    .active.accordion .drop--down--info{
        width: 150%;
        display: block;
        position: absolute;
        background-color: white;
        padding: 1.2em;
        border-radius: 10px;
        box-shadow: 2px 2px 20px 8px hsl(0, 0%, 41%, .3);
        transition: all 0.3s ease;
        margin: 1em 0 0 0;
        z-index: 9999999;
    }

    .active.accordion.features .drop--down--info{
       margin: 1em 0 0 -3.5em;
    }

    .active.accordion img#arrow--up  {
        display: inline-block ;
    }
    
    .active.accordion img#arrow--down {
        display: none ;
    }

    .hamburger{
        display: none;
    }

    /* login--register buttons */
    .form{
        display: flex;
    }

    .hero--section{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        gap: 5em;
        margin-inline: auto;
    }

    .hero--description{
        text-align: left;
        width: 80%;
        position: relative;
    }

    h1{
        font-size: 3.5em;
    }

    h1 span{
        display: block;
    }

    p{
        font-size: 22px;
        line-height: 1.5;
    }

    .learn--more{
        font-size: 20px;
    }
    
    .client--section{
        width: 90%;
        margin-inline: 0;
        transform: translateY(180%);
    }

    .attribution{
        font-size: 20px;
    }

}

@media (min-width: 1400px) {
    .logo-menu-group{
        width: 50%;
    }

    .hero--section{
        gap: 10em;
    }

    .hero--description{
        width: 70%;
    }

    h1{
        font-size: 4.5em;
    }

    .client--section{
        /* position: absolute;
        bottom: 0; */
        transform: translateY(200%);
    }

}

@media (min-width: 2000px) {
    

    li{
        font-size: 30px;
    }

    h1{
        font-size: 5.5em;
    }

    p{
        font-size: 40px;
    }

    .learn--more{
        font-size: 30px;
    }

    .client--section{
        transform: translateY(150%);
    }

    .client--section img{
        width: 30%;
    }

    .attribution{
        font-size: 35px;
    }
}